
body {
	padding-top: 50px;
	height: 100%;
	font-family: 'Titillium Web', 'sans-serif';
}

.search-group {
  padding: 40px 15px;
  text-align: center;
}
#vertical-displacement{
	padding: 0px 5px;
}
#map { 
	position:relative;
	left:0px;
	height: 100vh; 
}

.center {
	text-align: center;
}

.container-fluid.no-gutter {
	padding-left: 0;
	padding-right: 0;
}

.row.no-gutter {
	margin-left: 0;
	margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}


#foursquare-warning {
	padding: 10px 10px 10px 10px;
}

#connect-foursquare-image{
	background-image: url('https://playfoursquare.s3.amazonaws.com/press/logo/connect-black@2x.png');
	display: block;
	height: 48px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top:5px;
}

#results {
	top:50px;
	right:0;
	position: fixed;
	height: 100%;
}